<div id="emergentes">
    <div class="emergente" id="video">
        <div class="contenedor">
            <button type="button" class="cerrar">&times;</button>
            <div class="contenido">
            </div>
        </div>
    </div>
</div>
