{# Patrones de validacion #}

{% set numeros = "^[0-9]+$" %}
{% set letras = "^[a-z ñçA-ZÑÇáéíóúÁÉÍÓÚ]+$" %}
{% set correo = "^[_a-z0-9-]+[[\.]?[_a-z0-9-]*]*[@]?[_a-z0-9-]*[[\.]?[_a-z0-9-]*]*$" %}


<div class="formulario">

	<form action="?" method="POST">

	</form>

</div>
